<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Golab Jamun</title>
</head>
<body>
<img src="./images/india_flag.png" alt="Flag of India" height="105" width="211" /><br/>
<img src="images/gulaab_jamun.jpg" alt="Golab Jamun" height="105" width="211" /><br/>
<h1>Golab Jamun Recipe</h1>
<h2>Ingredients:</h2>
<ul>
    <li>1 cup dry milk powder</li>

    <li>3 tablespoons all-purpose flour</li>

    <li>2 tablespoons ghee (clarified butter), melted</li>

    <li>1/2 teaspoon baking powder</li>

    <li>1/2 cup warm milk</li>

    <li>1 tablespoon chopped almonds (optional)</li>

    <li>1 tablespoon chopped pistachio nuts (optional)</li>

    <li>1 tablespoon golden raisins (optional)</li>

    <li>1 pinch ground cardamom</li>

    <li>1 quart vegetable oil for deep frying</li>

    <li>1 1/4 cups white sugar</li>

    <li>7 fluid ounces water</li>

    <li>1 teaspoon rose water</li>

    <li>1 pinch ground cardamom</li>
</ul>
<h2>Directions</h2>
<p>
    In a large bowl, stir together the milk powder, flour, baking powder, and cardamom. Stir in the almonds,
    pistachios and golden raisins. Mix in the melted ghee, then pour in the milk, and continue to mix until well
    blended. Cover and let rest for 20 minutes.
</p>
</body>
</html>