<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Ijera Recipe</title>
</head>
<body>
<img src="./images/ethopian_flag.png" alt="Ethiopian Flag" height="105" width="211"/><br/>
<img src="./images/injera.jpg" alt="Injera" height="105" width="211"/>
<h1>Injera Recipe</h1>
<p>Ingredients:</p>
<ul>
    <li>¾ cup teff flour (found in health food shops)</li>
    <li>3½ cups water</li>
    <li>pinch of salt</li>
</ul>
<h2>Directions</h2>

<p>Standing time 2 days</p>

<p>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</p>

<p>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</p>

<p>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</p>

<p>Do not let it brown, and make sure that it is not too thick.</p>

</body>
</html>